{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <h2 class="card-header">Análisis predictivo en la teoría de colas para la optimización del tiempo de servicio</h2>
            <div class="card-body">
                <!-- Contenedor con clase embed-responsive para hacer el visor PDF más grande -->
                <div class="embed-responsive embed-responsive-4by3" id="pdf-viewer">
                    <div id="canvas-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='PDFObject/pdfobject.js') }}"></script>
<script type="text/javascript">
    // Cambia la ruta del PDF según la variable contenido_pdf
    const url = '{{ contenido_pdf }}';
    PDFObject.embed(url, "#canvas-container");
</script>
{% endblock %}
