{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

    <h1 class="mt-5">Comparación de Soluciones</h1>

    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card">
                <h2 class="card-header">Datos con solución</h2>
                <div class="card-body">
                    <h3>Excel #01</h3>
                    {{ data_table|safe }}
                </div>
                <div class="card-body">
                    <h3>Resultados</h3>
                    {{ summary_con|safe }}
                </div>
                <div class="card-body">
                    <h3>Gráfico de Residuos</h3>
                    <div>
                        {{ graph_con|safe }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <h2 class="card-header">Datos sin solución</h2>
                <div class="card-body">
                    <h3>Excel #02</h3>
                    {{ data_table_without_solution|safe }}
                </div>
                <div class="card-body">
                    <h3>Resultados</h3>
                    {{ summary_sin|safe }}
                </div>
                <div class="card-body">
                    <h3>Gráfico de Residuos</h3>
                    <div>
                        {{ graph_sin|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}