

{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <h2 class="card-header">Datos sin solución 1</h2>
            <div class="card-body">
                <h3>Tabla con datos atencion</h3>
                {{ data_table|safe }}
            </div>
            <div class="card-body">
                <h3>Estadisticas</h3>
                <p>R2: {{ r2 }}</p>
                <p>Coeficientes: {{ coeficientes }}</p>
                <p>Intercepción: {{ intercepcion }}</p>
            </div>
            <div class="card-body">
                <h3>Gráfico</h3>
                <div>
                    {{ graph|safe }}
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}